:root {
    --first-color: #C7C7C7;
    --second-color: #ACD9B2;
    --background-color: #FFFFFF;
    --text-input-field: #F7F7F7;
    --dark-color: #232830;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}
header {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: var(--background-color);
    margin-top: 100px;
}
main .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
}

main .logo-container img {
    width: 50%;
    height: auto;
}

.form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 32px;
}

.account-title-container {
    display: flex;
    justify-content: start;
    margin-bottom: 32px;
    width: 90%;
    max-width: 400px;   
    margin-left: 8px;
    font-size: 1.2rem;
}

.form-title h2 {
    display: inline-block;
    font-size: 2.5rem;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
}

.form-title p {
    margin: 0;
    font-size: 2rem;
    color: var(--first-color);
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    font-weight: 300;
}

.form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-input, form-button {
    width: 100%;
}

.primary-button {
    height: 5rem;
    background-color: var(--second-color);
    border-radius: 8px;
    border: none;
    margin-top: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-input-field);
    cursor: pointer; 
}

.form-input {
    height: 4rem;
    border-radius: 8px;
    background-color: var(--text-input-field);
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid var(--text-input-field);
}

.form-label {
    font-size: 1.6rem;
    font-weight: 700;
}

.email-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.email-icon {
    display: flex;
    background: #c7c7c75e;
    border-radius: 90px;
    width: 14rem;
    height: 13rem;
    justify-content: center;
}

.login-button {
    width: 100%;
    max-width: 400px;
    height: 5rem;
    background-color: var(--second-color);
    border-radius: 8px;
    border: none;
    margin-top: 48px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--text-input-field);
    cursor: pointer; 
}

.email-resend {
    margin-top: 16px;
    font-size: 1.6rem;
    color: var(--dark-color);
}

.email-resend a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: 700;
}

.signup-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}

.secondary-button {
    width: 90%;
    max-width: 400px;
    height: 5rem;
    border: 2px solid var(--second-color);
    border-radius: 8px;
    background-color: transparent;
    margin-top: 48px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--second-color);
    cursor: pointer; 
}

.signup-container .secondary-button a {
    color: var(--second-color);
    text-decoration: none;
    font-weight: 700;
}

.form-value {
    margin: 8px 0 28px 0;
    font-size: 1.5rem;
    color: var(--first-color);
}
